* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}  

body{
    background-color: #171e2b;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.App {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    flex : 3;
    border-right: 1px solid #999da5;
}
.main{
    flex: 9;
}
.logo{
    margin-right: 10px;
}
.appname{
    font-size: 2rem;
    font-weight: 400;
}
.upperside{
    padding: 20px;
    border-bottom: 1px solid #999da5;
    height: 70%;
}
.uppersideTop{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.addBtn{
    height: 20px;
    padding-right: 10px;
}
.midBtn{
    background-color:rgb(66, 162, 210);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.query{
    background-color: transparent;
    color: white;
    border: 1px solid #999da5;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 25rem;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin : 1rem auto;
    margin-bottom: 20px;
}
.query img{
    height: 20px;
    margin-right: 20px;
}

.lowerside{
    padding: 20px;
}
.list{
    margin: 0.75em;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.listimg{
    margin: 1rem;
    padding-right: 1.5rem;
}

.list:nth-child(1)>.listimg{
    margin-right: 0.5rem;
}
.list:nth-child(3)>.listimg{
    margin-right: 0.75rem;
}

.main {
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 6rem 10rem;
    margin-bottom : 0; 
}
.chats{
    overflow : hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}
.chat{
    margin : 1rem;
    padding: 2rem 3rem;
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    text-align: justify;
}
.chatimg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}
.bot{
    background-color: #364b72;
    width: fit-content;
    border-radius: 0.5rem;

}
.chatFooter{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.inp {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #364b72;
    border-radius: 5px;
    width: 68rem;
}
.inp input {
    width: calc(100% - 30px);
    outline: none;
    color: white;
    padding: 1.25rem;  
}
.inp input, .sendBtn {
    border: none;
    background-color: transparent;
}
.chatFooter p{
    margin: 2rem 0;
}
.txt {
    line-height: 2.4rem;
    color: rgba (222,222,222,1);
}

